.about h1 {
  font-size: 2em;
  margin-bottom: 0.25em;
  word-break: break-all;
}

.about h2 {
  font-size: 1.25em;
  margin: 0.25em 0;
  word-break: break-all;
}

.about i {
  margin-right: 0.25em;
}

.about p {
  font-size: 0.9em;
  word-break: break-all;
}

.inline {
  display: flex;
  align-items: center;
}

@media (min-width: 550px) {
  .about h1 {
    margin-bottom: 0.5em;
  }

  .about h2 {
    margin: 0.5em 0;
  }

  .about i {
    margin-right: 0.5em;
  }

  .about p {
    font-size: 1.2em;
  }
}
