.card h1 {
  font-size: 2em;
  margin-bottom: 0.25em;
}

.card h2 {
  font-size: 1.25em;
  margin: 0.25em 0;
}

.card i {
  margin-right: 0.25em;
}

.card p {
  font-size: 0.9em;
}

.inline {
  display: flex;
  align-items: center;
}

@media (min-width: 550px) {
  .card h1 {
    margin-bottom: 0.5em;
  }

  .card h2 {
    margin: 0.5em 0;
  }

  .card i {
    margin-right: 0.5em;
  }

  .card p {
    font-size: 1.2em;
  }
}
