@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary: #efb17b;
  --tertiary: #cc8b64;
  --black: #000000;
  --white: #fff9f2;
}

body {
  background-image: url('https://images.unsplash.com/photo-1526894198609-10b3cdf45c52?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&w=3349');
  background-size: cover;
  background-repeat: no-repeat;
  height: fit-content;
  min-height: 100vh;
  color: var(--white);
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 40%;
}

a {
  color: var(--white);
  text-decoration: none;
  transition: color 0.2s ease-in;
}

li a:hover,
li a.active {
  color: var(--primary);
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1em;
  margin-bottom: 8em;
}

.nav-home {
  font-size: 1.2em;
  color: var(--primary);
}

.card {
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(20px);
  color: var(--black);
  padding: 2em;
  border-radius: 20px;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.2);
}

.btn {
  border: none;
  background-image: linear-gradient(to bottom, var(--tertiary), var(--primary));
  color: #312219;
  padding: 0.25em 0.5em;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 7px;
  box-shadow: 0 0 10px 0 var(--shadow);
  transition: filter 0.2s ease-in;
  display: inline-flex;
  align-items: center;
}

.btn:hover {
  filter: brightness(110%);
}

@media (min-width: 500px) {
  body {
    background-position: center center;
  }

  .navigation {
    font-size: 1.3em;
    padding-top: 2em;
    margin-bottom: 4em;
  }

  ul {
    width: 30%;
  }
}
