.home .btn {
  border: none;
  background-image: linear-gradient(to bottom, var(--tertiary), var(--primary));
  color: #312219;
  padding: 0.4em 1.5em;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 7px;
  box-shadow: 0 0 10px 0 var(--shadow);
  transition: filter 0.2s ease-in;
  display: inline-flex;
  align-items: center;
}

.home .btn:hover {
  filter: brightness(110%);
}

.arrow {
  color: var(--black);
  opacity: 0.35;
  margin-left: 0.5em;
}

.home p {
  margin: 2em 0;
}

.home .btn:hover .arrow {
  animation: stutter 0.5s ease-in infinite alternate;
}

@keyframes stutter {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(80%);
  }
}

@media (min-width: 500px) {
  .home h1 {
    font-size: 3em;
  }
  .home p {
    font-size: 1.5em;
    margin: 2em 0;
  }
}
