.home .btn {
  padding: 0.4em 1.5em;
  font-size: 1.2em;
  border-radius: 7px;
}

.arrow {
  color: var(--black);
  opacity: 0.35;
  margin-left: 0.5em;
}

.home p {
  margin: 2em 0;
}

.home .btn:hover .arrow {
  animation: stutter 0.5s ease-in infinite alternate;
}

@keyframes stutter {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(80%);
  }
}

@media (min-width: 500px) {
  .home h1 {
    font-size: 3em;
  }
  .home p {
    font-size: 1.5em;
    margin: 2em 0;
  }
}
