.home .btn {
  border: none;
  background-image: linear-gradient(to bottom, var(--tertiary), var(--primary));
  color: #312219;
  padding: 0.4em 0.75em;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 7px;
  box-shadow: 0 0 10px 0 var(--shadow);
  transition: filter 0.2s ease-in;
}

.home .btn:hover {
  filter: brightness(110%);
}

.arrow {
  opacity: 0.8;
  transform: translateX(20%);
}

.home p {
  margin: 2em 0;
}

.home .btn:hover .arrow {
  animation: stutter 0.75s linear infinite alternate;
}

@keyframes stutter {
  0% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(50%);
  }
}

@media (min-width: 500px) {
  .home h1 {
    font-size: 3em;
  }
  .home p {
    font-size: 1.5em;
    margin: 2em 0;
  }
}
